<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--You need to create handbar with whereever dynamic data is needed -->
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}
    <p>Ferrars all spirits his imagine effects amongst neither. It bachelor cheerful of mistaken. Tore has sons put upon wife
        use bred seen. Its dissimilar invitation ten has discretion unreserved. Had you him humoured jointure ask expenses
        learning. Blush on in jokes sense do do. Brother hundred he assured reached on up no. On am nearer missed lovers.
        To it mother extent temper figure better.</p>
</body>
{{> footer}}
</html>