<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--You need to create handbar with whereever dynamic data is needed -->
    <title>{{pageTitle}}</title>
</head>

<body>
     {{> header}}
         
    <p>{{screemIt welcomeMessage}}</p>
</body>
{{> footer}}

</html>